<div class="login-container">
    
    <div class="login-content">
    <form class="login-form">
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input _ngcontent-ng-c1302135791 type="text" id="username" name="username" required fdprocessedid="dq24hf"
                autocomplete="username">

            <label for="password">Password:</label>
            <input _ngcontent-ng-c1302135791 type="password" id="password" name="password" required
                fdprocessedid="dq24hf" autocomplete="current-password">

            <button type="submit" (click)="onLogin()">Login</button>
    </form>
    </div>
</div>