<!-- <div>
    <h2>Order Placement</h2>

    <div *ngFor="let product of products">
        <div>
            <h3>{{ product.productName }}</h3>
            <p>{{ product.description }}</p>
            <p>List Price: {{ product.listPrice }}</p>
            <button (click)="addToCart(product)">Add to Cart</button>
        </div>
    </div>

    <div *ngIf="cart.length > 0">
        <h3>Shopping Cart</h3>
        <ul>
            <li *ngFor="let cartItem of cart">
                {{ cartItem.productName }} - Quantity: {{ cartItem.quantity }}
                <button (click)="removeFromCart(cartItem)">Remove</button>
            </li>
        </ul>
        <p>Total Price: {{ getTotalPrice() }}</p>
        <button (click)="checkout()">Checkout</button>
    </div>
</div>
   -->