<div class="admin-container">
    <header>
        <h1>Admin Dashboard</h1>
    </header>

    <nav>
        <ul>
            <li><a routerLink="/admin/customers">Customers</a></li>
            <li><a routerLink="/products">Orders</a></li>
            <li><a routerLink="/admin/partners">Partners</a></li>
            <li><a routerLink="info">Info</a></li>
            <div class="signOut-btn">
                <li>Signout</li>
                <li><a routerLink="/login"><mat-icon>exit_to_app</mat-icon></a></li>
            </div>
        </ul>
    </nav>

    <main>
        <router-outlet></router-outlet>
    </main>
</div>