.products {
    flex: 1;
    overflow-y: auto;
    margin-top: 12%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
  }
  
  .product {
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .product h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .product p {
    color: #555;
    margin-bottom: 10px;
    /* Adjust margin as needed */
    font-size: 1rem;
    /* Adjust font size as needed */
  }

  
  .btns {
    display: flex;
  }
  
  button {
    background-color: #ece8e3;
  }
  
  .cart-btn{
    width: 50%;
    margin: 5px;
    left: 0;
  }

  .wishlist-btn {
    width:50%;
    margin: 5px;
    right: 0;
  }
  
  .wishlist-btn:hover {
    background-color: #cd10107a;
  }
  
  button:hover {
    background-color: #cad577;
  }
  
